<%#= image_tag current_school_detail.logo.url %>

<div class="login_box">

  <% form_for :user, :html => { :id => "login_form"} do |form| %>
    <div class="top_b">Sign in to Intellisys</div>
    <div class="alert alert-info alert-login">
      <% if !flash.empty? %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>
    </div>
    <div class="cnt_b">
      <div class="formRow">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span><%= form.text_field :username, :placeholder=>"Username"%>
        </div>
      </div>
      <div class="formRow">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-lock"></i></span><%= form.password_field :password, :placeholder=>"Password"%>
        </div>
      </div>
    </div>
    <div class="btm_b clearfix">
      <%= submit_tag t('login'), :class => "btn btn-inverse pull-right" %>
      <span class="link_reg"><%= link_to t('forgot_password'),:controller => "user",:action => "forgot_password" %></span>
    </div>
  <%  end %>
</div>

<script type="text/javascipt" src="js/jquery.min.js"></script>
<script type="text/javascipt" src="js/jquery.actual.min.js"></script>
<script type="text/javascipt" src="lib/validation/jquery.validate.min.js"></script>
<script type="text/javascipt" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascipt">
  $(document).ready(function(){

  //* boxes animation
  form_wrapper = $('.login_box');
  $('.linkform a,.link_reg a').on('click',function(e){
  var target	= $(this).attr('href'),
  target_height = $(target).actual('height');
  $(form_wrapper).css({
  'height'		: form_wrapper.height()
  });
  $(form_wrapper.find('form:visible')).fadeOut(400,function(){
  form_wrapper.stop().animate({
  height	: target_height
  },500,function(){
  $(target).fadeIn(400);
  $('.links_btm .linkform').toggle();
  $(form_wrapper).css({
  'height'		: ''
  });
  });
  });
  e.preventDefault();
  });

  //* validation
  $('#login_form').validate({
  onkeyup: false,
  errorClass: 'error',
  validClass: 'valid',
  rules: {
  'user[username]': { required: true, minlength: 3 },
  'user[password]': { required: true, minlength: 3 }
  },
  highlight: function(element) {
  $(element).closest('div').addClass("f_error");
  },
  unhighlight: function(element) {
  $(element).closest('div').removeClass("f_error");
  },
  errorPlacement: function(error, element) {
  $(element).closest('div').append(error);
  }
  });
  });
</script>
