<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!--<div id="content-header">
<%= image_tag("/images/user_profile/user_profile_logo.jpg") %>
  <h1><%= t('user_profile') %> HELLO!</h1>
  <h3><%= t('user_information') %></h3>
  <div id="app-back-button">
<%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>-->

<div class="row-fluid">
  <div class="span12">
    <h3 class="heading"><%= t('user_profile') %></h3>
    <div class="row-fluid">
      <div class="span8">
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group formSep">
              <label class="control-label"><%= t('username') %></label>
              <div class="controls text_line">
                <strong><%= @user.username %></strong>
              </div>
            </div>
            <div class="control-group formSep">
              <label for="u_fname" class="control-label"><%= t('name') %></label>
              <div class="controls">
                <input type="text" id="u_fname" class="input-xlarge" value="<%= @user.full_name %>" />
              </div>
            </div>
            <div class="control-group formSep">
              <label for="u_role" class="control-label"><%= t('role') %></label>
              <div class="controls">
                <input type="text" id="u_role" class="input-xlarge" value="<%= @user.role_name %>" />
              </div>
            </div>
            <div class="control-group formSep">
              <label for="u_email" class="control-label"><%= t('email') %></label>
              <div class="controls">
                <input type="text" id="u_email" class="input-xlarge" value="<%= @user.email %>" />
              </div>
            </div>
            <div class="control-group formSep">
            <% if @current_user.id == @user.id %>
              <div class="control-label"><%= t('language') %></div>
              <div class="controls"> <%= select :configuration, :locale, available_language_options ,{:selected=>"#{I18n.locale}"},
                  {:onchange => "#{remote_function(
                  :url => { :controller=>'application',:action => 'set_language' },
                  :with => "'language='+value"  )}"}%> </div>
            <% end %>
            </div>

            <% if @current_user.admin? %>
              <div class="control-group">
                <div class="controls">
                  <% if @user.role_name == 'Employee' %>
                    <% if @config.include?('HR') %>
                      <%= link_to "► #{t('view_profile')}",{:controller => "employee", :action => "profile", :id => @employee.id }, :class => "btn btn-gebo" unless @employee.nil?%>
                    <% end %>
                  <% elsif @user.role_name == 'Student' %>
                    <%= link_to "► #{t('view_profile')}",{:controller => "student", :action => "profile", :id => @student.id }, :class => "btn btn-gebo"%>
                  <% elsif @user.role_name == 'Parent' %>
                    <%= link_to "►#{t('view')} #{t('student_profile')}",{:controller => "student", :action => "profile", :id => @ward.id }, :class => "btn btn-gebo"%>
                  <% else %>
                    <% if @config.include?('HR') %>
                      <%= link_to "► #{t('view_profile')}",{:controller => "employee", :action => "profile", :id => @employee.id }, :class => "btn btn-gebo" unless @employee.nil?%>
                    <% end %>
                  <% end %>
                  <%= link_to "#{t('change_password')}", {:controller => "user", :action => "user_change_password", :id =>@user.username}, :class => "btn btn-gebo" %>
                  <% unless @user.admin %>
                    <% unless @user.role_name == 'Student' or @user.role_name == 'Parent' %>
                      <%= link_to "► #{t('edit_privilege_text')}", {:controller => "user", :action => "edit_privilege", :id => @user.username } ,:class => "btn btn-gebo" %>
                    <% end %>
                  <% end %>
                  <% if @user.admin and @current_user.id != @user.id and @employee.nil? %>
                    <%= link_to "► #{t('delete_text')}", { :controller => "user", :action => "delete", :id => @user.username}, :class => "btn btn-gebo", :confirm=>"#{t('are_you_sure_to_delete_user')}" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<% if @current_user.id == @user.id %>
    <div id="inner-tab-menu">
      <ul>
        <li><%= link_to "#{t('change_password')}", :controller => "user", :action => "change_password" %></li>
      </ul>
    </div>
<% end %>-->